---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <div class="text-center">
          <img style="position:relative; left:0px" src="/images/logopic/group_logo_medium_text.png" height="120" width="auto" class="rounded float-right" alt="...">
        </div>
        <h1>Welcome to my page!  </h1>
          <a href="https://www.scholar.google.com/citations?hl=en&pli=1&user=6cgYvfIAAAAJ" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fa-brands fa-google-scholar" style="color: #000000;"></i> Google Scholar
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.researchgate.net/profile/Thua-Phong-Lam" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fa-brands fa-researchgate" style="color: #000000;"></i> ResearchGate
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.linkedin.com/in/phonglam3103/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fa-brands fa-linkedin" style="color: #000000;"></i> LinkedIn
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://github.com/phonglam3103/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fa-brands fa-github" style="color: #000000;"></i> GitHub
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://orcid.org/my-orcid?orcid=0000-0001-5740-0353" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fa-brands fa-orcid" style="color: #000000;"></i> ORCID
          </a>
	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
