---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <div class="text-center">
          <img style="position:relative; left:0px" src="/images/logopic/group_logo_medium_text.png" height="120" width="auto" class="rounded float-right" alt="...">
        </div>
        <h1>Welcome to my page!  </h1>
          <a href="https://www.facebook.com/thuaphong1234" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fa-brands fa-square-facebook"></i> Facebook
          </a>

          <a href="https://www.researchgate.net/profile/Thua-Phong-Lam" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fa-brands fa-researchgate"></i> ResearchGate
          </a>

        
	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
